<span>
  <div class="titleHeader">
    <h1>{{title}}</h1>
    <h5>TestUI app is running!</h5>
  </div>
  <div>
    <div class="row">
      <div class="col-6 offset-3" *ngFor="let weather of weatherData">
        <div class="card container">
          <div class="card-body">
              <h5 class="card-title">{{weather.date | date: 'mediumDate'}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{weather.temperatureF}} &#176;F </h6>
              <h6 class="card-subtitle mb-2 text-muted">{{weather.temperatureC}} &#176;C</h6>
              <!-- <p class="card-text" [ngClass]="{'freezing':weather.summary ==='Freezing'}">{{weather.summary}}</p> -->
              <p class="card-text summary" [ngStyle]="{'color': getColor(weather.summary+'')}">{{weather.summary}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>